{% extends "base.html" %}
{% load django_markdown %}
{% load staticfiles %}

{% block photograph %}
    url('/{{ about.photograph.image }}')
{% endblock %}

{% block heading %}
    <div class="site-heading">
        <h1>About Us</h1>
        <hr class="small">
        <span class="subheading">The Official MJMES Blog</span>
    </div>
{% endblock %}

{% block content %}
    {{ about.markdown|markdown }}
    <hr>
{% endblock %}

{% block scripts %}
    <script>
      $('img').addClass('img-responsive')
    </script>
{% endblock %}
