{% extends "base.html" %}
{% load django_markdown %}
{% load staticfiles %}

{% block photograph %}
    url('{% static 'img/about-bg.jpg' %}')
{% endblock %}

{% block heading %}
    <div class="page-heading">
        <h1>About the Journal</h1>
        <hr class="small">
        <span class="subheading">The Official MJMES Blog</span>
    </div>
{% endblock %}

{% block content %}
    {{ about.markdown|markdown }}
{% endblock %}

{% block scripts %}
    <script>
      $('#content img').addClass('img-responsive pull-right')
    </script>
{% endblock %}
