{% extends "base.html" %}
{% load django_markdown %}
{% load staticfiles %}

{% block photograph %}
    {% if background %}
      url('{{ background.url }}')
    {% else %}
      url('{% static 'img/contact-bg.jpg' %}')
    {% endif %}
{% endblock %}

{% block heading %}
    <div class="page-heading">
        <h1>Contact Us</h1>
        <hr class="small">
        <span class="subheading">The Official MJMES Blog</span>
    </div>
{% endblock %}

{% block content %}
    {{ contact.markdown|markdown }}
{% endblock %}

{% block scripts %}
    <script>
      $('#content img').addClass('img-responsive pull-right')
    </script>
{% endblock %}
