{% extends "base.html" %}
{% load django_markdown %}
{% load staticfiles %}

{% block extrastyle %}
  <style>
    .center{
      text-align: center;
      padding: 60px 0 25px 0;
      margin: 0 auto;
    }
    .thisRegion{
      color: #0085A1;
    }
    a:hover,
    a:focus {
      color: #0085a1;
      text-decoration: none;
    }
    p a {
      text-decoration: underline;
    }
  </style>
{% endblock %}

{% block photograph %}
    {% if background %}
      url('{{ background.url }}')
    {% else %}
      url('{% static 'img/home-bg.jpg' %}')
    {% endif %}
{% endblock %}

{% block heading %}
    <div class="site-heading">
        <h1>The McGill Journal of Middle East Studies</h1>
        <hr class="small">
        <span class="subheading">The Official MJMES Blog</span>
    </div>
{% endblock %}

{% block blog %}
{% for blogpost in blogposts %}
  <div class='row'>
    <div class = 'col-sm-4'>
      <img class="img-responsive" src='{{ blogpost.photograph.url }}'>
    </div>
    <div class='col-sm-8'>
      <div class="post-preview">
          <a href="/blogpost/{{ blogpost.id }}">
              <h2 class="post-title"> {{ blogpost.title }} </h2>
              <h3 class="post-subtitle"> {{ blogpost.subtitle }} </h3>
          </a>
          <p class="post-meta">
              Posted by {{ blogpost.author }} on {{ blogpost.created }} <br>
              <small>
                Tagged Under:
                  {% for tag in blogpost.tags.all %}
                      <a href='/tag/{{ tag.id }}'> {{ tag }} </a>
                  {% endfor %}
              </small>
          </p>
      </div>
    </div>
  </div>
  <hr>
{% endfor %}
{% endblock %}

{% block paginated %}
{% if is_paginated %}
    <ul class="pager">
        {% if page_obj.has_previous %}
        <li class="previous">
            <a href="?page={{ page_obj.previous_page_number }}">&larr; Newer Posts</a>
            </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="next">
            <a href="?page={{ page_obj.next_page_number }}">Older Posts &rarr;</a>
        </li>
        {% endif %}
    </ul>
{% endif %}
{% endblock %}

{% block region %}
  <h4>Filter By Region</h4>

  {% for region in regions %}
    {% if region.id == this_region %}
      <h5 class='thisRegion'> {{ region }} </h5>
    {% else %}
      <h5><a href='/region/{{ region.id }}/'> {{ region }} </a></h5>
      {% endif %}
  {% endfor %}

  <h5><a href='{% url 'index' %}'> All Regions </a></h5>

{% endblock %}
